<%- include("templates/header") %>

    <form method="POST" action="/login">
    
        <input name="email" placeholder="email" required /><br>
        <input type="password" name="password" placeholder="password" required /><br>
        
        <button type="submit">Login</button>
        
    </form>

<%- include("templates/footer") %>