<li class="list-group-item d-flex justify-content-between">

    <div>
        <strong><%= user.name %></strong>
        - <%= user.user_type %>
    </div>

    <div>

        <% if (user.user_type === "user") { %>

            <a href="/promote/<%= user.email %>"
               class="btn btn-success btn-sm">
                Promote
            </a>

        <% } else { %>

            <a href="/demote/<%= user.email %>"
               class="btn btn-warning btn-sm">
                Demote
            </a>

        <% } %>

    </div>

</li>